<div class="card">
    <div class="card-header">
        <h3>New Products</h3>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            <div class="form-group">
                <label for="txtProName">ProName</label>
                <input type="text" class="form-control" id="txtProName" name="ProName" autofocus>
                <label for="txtTinyDes">TinyDes</label>
                <input type="text" class="form-control" id="txtTinyDes" name="TinyDes">
                <label for="txtFullDes">FullDes</label>
                <input type="text" class="form-control" id="txtFullDes" name="FullDes">

                <label for="txtPrice">Price</label>
                <input type="number" class="form-control" id="txtPrice" name="Price">
                <label for="txtCatID">CatID</label>
                <input type="number" class="form-control" id="txtCatID" name="CatID">
                <label for="txtQuantity">Quantity</label>
                <input type="number" class="form-control" id="txtQuantity" name="Quantity">
            </div>
            <a class="btn btn-warning" href="/admin/products" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
           <button type="submit" class="btn btn-success">
               <i class="fa fa-check" aria-hidden="true">Save</i>
           </button>
        </form>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>